/* Declaring custom properties on :root pseudo class to be used globally */
:root {
  /* Light Mode */
  --main-bg-color: white;
  --link-color: rgb(231, 172, 33);
  --link-color-hover: rgb(65, 130, 168);
  --link-color-active: rgb(30, 61, 79);
  --circle1-color: rgb(231, 172, 33);
  --circle2-color: rgb(30, 61, 79);
  --circle3-color: rgb(36, 96, 130);
  --circle-color-hover: rgb(247, 213, 134);
  --grid-item-display-hover: rgb(65, 130, 168);
  --mark-bg-color: rgb(219, 219, 219);
  --mark-color: black;
  --color: black;

  /* Content layout explanations
  The content area has content-width as overal size.

  Usually we have a 2-column format (example pages: index.html, publications.html, cv.html).
  This layout is called grid-container and has a left column width of grid-container-width
  and a right column width of auto, i.e. takes the remaining of the content.

  Inside the right column of the 2-column-layout we want to allow 4 elements. Thus we have
  the grid-container_gallery_display with an individual width of grid-container_gallery_display-width, which
  is the right column (i.e. (content-width - grid-container-width) / 4).

  On other pages like demos.html we showcase elements, thus we use the grid-container-display.
  This is a 3-column layout with equally spaced column-widths of size grid-container-display-width.
  */
  /* The whole content area width */
  --content-width: 690px;
  /* For 1-1 layout with left and right width */
  --grid-container-width: 150px;
  --grid-container-right-width: 540px;
  /* For 1-1-1 layout in content area, thus content-width divided by 3 */
  --grid-container-display-width: 230px;
  /* For 1-1-1-1 layout in right column of grid container */
  --grid-container_gallery_display-width: 135px;
}

/* Color scheme for automatically detected dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: rgb(30, 61, 79);
    --link-color: rgb(185, 139, 29);
    --link-color-hover: rgb(65, 130, 168);
    --link-color-active: rgb(110, 168, 202);
    --circle1-color: rgb(231, 172, 33);
    --circle2-color: rgb(110, 168, 202);
    --circle3-color: rgb(36, 96, 130);
    --circle-color-hover: rgb(247, 213, 134);
    --grid-item-display-hover: rgb(65, 130, 168);
    --mark-bg-color: rgb(110, 168, 202);
    --mark-color: white;
    --color: rgb(110, 168, 202);
  }
}

/* Color scheme for manually selected dark mode */
/* Can be toogled in javascript with
 document.body.classList.toggle("dark-mode");
*/
/* .dark-mode {
  --main-bg-color: rgb(30, 61, 79);
  --link-color: rgb(231, 172, 33);
  --link-color-hover: rgb(65, 130, 168);
  --link-color-active: rgb(110, 168, 202);
  --circle1-color: rgb(231, 172, 33);
  --circle2-color: rgb(110, 168, 202);
  --circle3-color: rgb(36, 96, 130);
  --circle-color-hover: rgb(247, 213, 134);
  --grid-item-display-hover: rgb(30, 61, 79);
  --mark-bg-color: rgb(110, 168, 202);
  --mark-color: white;
  --color: rgb(110, 168, 202);
} */

/*
General document settings
*/
html {
  overflow-y: scroll;
  color: var(--color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: var(--main-bg-color);
}

h1 {
  font-weight: 200;
  font-size: larger;
  margin-top: 0px;
  margin-bottom: -5px;
}

p {
  text-align: justify;
  line-height: 1.3;
}

ul {
  text-align: justify;
  line-height: 1.3;
}

/*
Navigation and links
*/
/* Navigation bar settings */
.navigation {
  margin: 45px auto 0px 0px;
  text-align: left;
  background-color: var(--main-bg-color);
}

.navigation a {
  color: var(--link-color);
  padding: 0px 20px 0px 0px;
  text-decoration: none;
  font-size: medium;
}

/* General Link settings */
a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover) !important;
}

a:visited {
  color: var(--link-color);
}

#link {
  /* Resets link properties used in content area */
  margin: 0px 0px 20px 0px;
  text-align: right;
}

/* Circle hover */
#circle1:hover,
#circle1_:hover,
#circle2:hover,
#circle3:hover {
  fill: var(--circle-color-hover);
}

/*
Content and layout
*/
/* Content settings */
.content {
  /* Content div container */
  width: var(--content-width);
  display: block;
  margin: auto;
}

.grid-container {
  /* Grid layout for 2-column grid on publications and cv */
  display: grid;
  grid-template-columns: var(--grid-container-width) var(--grid-container-right-width);
  margin-bottom: 20px;
}

.grid-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Used for instance for the demos page
to showcase 3 elements side by side */
.grid-container_display {
  display: grid;
  grid-template-columns: var(--grid-container-display-width) var(--grid-container-display-width) var(--grid-container-display-width);
  margin-bottom: 20px;
  text-align: center;
}

/* Used for instance for the gallery
i.e. allows to partition the 540px into 3 parts
to showcase 3 elements side by side.
Uses then also grid-item_display with
its hover effect. */
.grid-container_gallery_display {
  display: grid;
  grid-template-columns: var(--grid-container_gallery_display-width) var(--grid-container_gallery_display-width) var(--grid-container_gallery_display-width) var(--grid-container_gallery_display-width);
  margin-bottom: 20px;
  text-align: center;
}

/* One individual item of the display
used for instance for the demos page */
.grid-item_display {
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: var(--main-bg-color);
  border-radius: 5px;
}

/* Hover effect to provide a boundary
and thus feedback for the user which item is selected */
.grid-item_display:hover {
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: var(--grid-item-display-hover);
  border-radius: 5px;
}

/*
Layout
*/
.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mark {
  background-color: var(--mark-bg-color);
  border-radius: 5px;
  padding: 2px;
  font-family: math;
  color: var(--mark-color);
}